*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #A9B2AC;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerclass{
    position: fixed;
    background-color: #455665;
    color: white;
    padding: 1.5rem;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    
}

.main-section {
    /* width: 100%; */
    margin-top: 100px;
    color: #455655;
}

.main-section h1 {
    margin-top: 25px;
    text-align: center;
    /* background-color: red; */
}

.menu {
    position: fixed;
    top: 300px;
    left: 50px;
    background-color: #455665;
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    min-height: 370px;
    max-height: 370px;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    padding: 10px 20px; 
    background-color: #444;
    border-radius: 50px;
    text-align: center; 
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #666;
}

.vinyl-outside {
    margin-top: 0px;
    margin-left: 300px;
}

.vinyl-outside h1 {
    text-align: center;
}


.vinyl-info-container {
    margin-left: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}



.vinyl-info {
    background-color: #898980;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.3);
    width: 350px;
    height: 350px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

.vinyl-info .defualt-content,
.vinyl-info .hover-content {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease, transform 0.7s ease;
}


.vinyl-info .default-content {
    margin-top: 11px;
    opacity: 1;
    z-index: 2;
    /* visibility: visible; */
    /* display: block; */
    justify-content: center;
}

.vinyl-info .hover-content {
    margin-top: 18px;
    opacity: 0;
    z-index: 1;
    /* visibility: hidden; */
    /* display: none; */
    text-align: center;
    transform: scale(1);
}

.vinyl-info:hover .hover-content {
    /* display: block; */
    opacity: 1;
    z-index: 2;
    /* visibility: visible; */
    transform: scale(1);
}

.vinyl-info:hover .default-content {
    /* display: none; */
    opacity: 0;
    z-index: 1;
    /* visibility: hidden; */
}

.hover-description {
    display: flex;
    grid-template-columns: 1fr, 1fr;
    gap: 5px;
    justify-content: center;
}

.hover-child {
    width: 150px;
    text-align: left;
}

.hover-child p {
    
    font-size: 16px;
}




.vinyl-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.vinyl-back-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.hover-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}

.hover-content h3 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

.hover-content h4 {
    font-size: 19px;
}
.hover-content p {
    /* margin-left: 20px; */
    font-size: 14px;
    text-align: center;
}

.vinyl-description {
    display: flex;
    grid-template-columns: 1fr, 1fr;
    gap: 5px;
    justify-content: center;
}

.vinyl-child {
    width: 150px;
    text-align: left;
}

.vinyl-child p {
    text-align: left;
    font-size: 14px;
}

@media (max-width: 1450px) {
    .vinyl-info-container {
        /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1075px) {
    .vinyl-info-container {
        grid-template-columns: 1fr;
    }
}